.projects-section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.project-card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  color: white;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
